doctype html
html
	head
	title Home page
	link(href='https://www.w3schools.com/w3css/4/w3.css', rel='stylesheet')
	link(href='/css/pbstyle.css', rel='stylesheet')
	style.
	body.w3-white
		.w3-twothird.w3-row-padding
			h5 Failed authentication
			p authentication failed due to incorrect permissions.
