doctype html
html
  head
    title New User Page
    link(href='https://www.w3schools.com/w3css/4/w3.css', rel='stylesheet')
    link(href='/css/pbstyle.css', rel='stylesheet')
    style.
  body
    form(action='/user/create' method="post")
      .container
        label(for='uname')
        b Define new Username
        input(name='username', required='', type='text', placeholder='Create a username')
        b Firstname
        input(name='firstname', required='', type='text', placeholder='Enter First Name')
        b Lastname
        input(name='lastname', required='', type='text', placeholder='Enter Last Name')
        label(for='psw')
        b Password
        input(name='password', required='', type='password', placeholder='Enter Password')
        label(for='organisation')
        b Organisation
        input(name='organisation', required='', type='text', placeholder='Enter Organisation')
        button(type='submit') Create User
      .container(style='background-color:#f1f1f1')
        a.cancelbtn(href="/user/userlist", type='button') Cancel
